@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-brand: #A0654A;
  --color-brand-dark: #9C5E42;
}
@theme {
  --font-sans: 'Poppins', sans-serif;
  --font-display: 'Playfair Display', serif;
}